<!DOCTYPE html>
<html lang="en">
<head>
  <!--
    normalize.css removes cross-browser differences in defaults, e.g.,
    differences in how form elements appear between Firefox and IE
    See: http://necolas.github.com/normalize.css/
  -->
  <link rel="stylesheet" href="/css/normalize.css">
  <!--
    application.css is where you put your styles
  -->
  <link rel="stylesheet" href="/css/application.css">

  <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <script src="/js/application.js"></script>

  <title></title>
</head>
<body>
  <div class="container">
  <% if session[:p1_name] && session[:p2_name] %>
    <p> Warm up your engines, ladies and gents. It is <%= session[:p1_name] %> VS <%= session[:p2_name] %> !!!!!!!!!!!</p>
  <% end %>
</div>
  <%= yield %>
</body>
</html>
